.plate {
  width: 410px;
  margin: 0 auto;
}

.script {
  font-family: 'Playfair Display', serif;
  color: #fff;
  text-align: center;
  font-size: 45px;
  position: relative;
  margin:0;
}
.script span {
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}
.text1 {
  font-size: 60px;
}
.text2 {
  font-size: 169px;
}